site_name: Docs49
site_author: Bernhard Boser
site_description: Project Documentation and Blog
site_url: https://rails49.org

theme:
  name: material
  features:
    - navigation.tabs
    - navigation.tabs.sticky
    - navigation.indexes
    - navigation.top
    - search.suggest
    - search.highlight
    - search.share

plugins:
  - blog
  - search

nav:
  - Home: index.md
  - Blocks49: blocks.md
  - Rails49: rails.md
  - Blog:
     - blog/index.md